<div class="ui basic modal">
  <i class="close icon"></i>
  <div class="header">
    Login
  </div>
  <div class="ui form" id="login-form">
    <div class="field">
      <label for="username">Username</label>
      {{input value=username id="username"}}
    </div>

    <div class="field">
      <label for="password">Password</label>
      {{input value=password id="password" }}
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui ok green basic inverted button">
        Login
      </div>
    </div>
  </div>
</div>
