<div class="ui fixed inverted menu" id="navbar">
    <div class="ui container">
      <a href="/" class="header item">
        Quantum Computer Store
      </a>
    </div>
    <div class="ui button nav navbar-nav navbar-right item"></div>
</div>
<div class="ui container" id="indexBody">
{{outlet}}
</div>
