{{display-cart item}}

<div class="ui segment">
  <h2>Our Computers</h2>
{{#each model as |computer|}}
  <div class="ui segment">
    {{computer-tile computer=computer}}
  </div>
{{/each}}
</div>

<br>
<br>

<div class="ui segment">
  {{new-computer saveComputer="saveComputer"}}
</div>
